body, html {
  background-color: #71AFB3;
}

.calculator {
  width: 250px;
  background-color: #284656;
  padding-top: 30px;
  padding-bottom: 10px;
  border-radius: 5px;
  margin-top: 5%;
}

.calcInner {
  width: 230px;
}

#result {
  width: 220px;
  background-color: #3C677F;
  border: none;
  margin: 1px;
  text-align: right;
  color: #E4F6F3;
}

.calcButtons {
  width: 220px;
  margin: auto;
  margin-bottom: 2px;
}

.button {
  border: none;
  height: 50px;
  width: 50px;
  background-color: #E4F6F3;
  color: #51829D;
  padding: 1px;
  margin: 1px;
  border-radius: 2px;
}

.hints {
  margin-top: 2px;
  background-color: #51829D;
  color: #E4F6F3;
  border-radius: 5px;
  padding: 1px;
}

.hints h2, li{
  font-size: small;
}

.hints ul {
  padding-top: 3px;
  text-align: left;
}



/* Generic Footer CSS for my "brand" */
#contact, #copyright {
  text-align: center;
}

.contactList {
  list-style: none;
  padding: 0px;
}

.contactList li {
  margin: 10px;
  display: inline-block;
}

.contactList li i {
  padding: 5px;
  color: #333;
  text-shadow: 1px 1px 1px #000;
}

.fa-facebook:hover, .fa-linkedin:hover, .fa-fire:hover, .fa-github:hover, .fa-instagram:hover {
  color: #F78536;
}
